/* Global Styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: Poppins, sans-serif;
}

p {
  color:hsl(229, 6%, 66%);
}

.page {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

h1 {
  font-size: 2em;
  font-weight: 200;
}
strong {
  color: hsl(234, 12%, 34%);
}

header p {
  font-size: 15px;
  font: Poppins;
  width:500px;
  text-align: center;
}

.card-heading {
  font-size: 15px;
  font-weight: 600;
  color:hsl(234, 12%, 34%)
}

.card-container {
  width:100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.column {
  /* border: 1px dashed black; */
  margin: 10px;
}

/* Styling for columns */

.card-column-one,
.card-column-three{
  display: flex;
  height: 500px;
  width: 300px;
  align-items: center;
}

.card-column-two {
  display: flex;
  width: 300px;
  height: 500px;
  align-items:center;
  flex-direction: column;
  justify-content: space-around;
}

/* Syling for all the cards */
.card-item {
  width: 100%;
  height: 200px;
  /* border: 1px solid black;  */
  border-radius: 5px;
/*box shadow: hor ver blur spread color*/
  box-shadow: 0px 15px 15px -19px hsl(212, 86%, 64%),
              0px 0px 5px -3px hsl(212, 86%, 64%);
  padding: 20px;
  cursor: pointer;
  flex-wrap: wrap;
  position: relative;

}

/* Styling for what happens when card is hovered on */
.card-item:hover {
  box-shadow: 0 0 5px hsl(212, 86%, 64%)
}

.card-item p {
  font-weight: 200;
}

/*  Styling for colour of cards */

.supervisor {
  border-top: 5px solid hsl(180, 62%, 55%);

}

.team-builder {
  border-top: 5px solid hsl(0, 78%, 62%);
}

.karma {
  border-top: 5px solid hsl(34, 97%, 64%);
}

.calculator {
  border-top: 5px solid hsl(212, 86%, 64%);
}
/* Styling for footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Image Styling */

img {
  position: absolute;
  bottom:5px;
  right:5px;
}






/* Responsive design- Mobile */

@media screen and (max-width:375px) {

/* Mobile Header Styling  */

header {
  width: 100%;
  align-items: center;
}

/* Styling for header */
h1{
  font-size: 1.5em;
}

/* Styling for the paragraph in header */
header p {
  font: Poppins;
  font-size: 12px;
  width:80%;
  text-align: center;
  word-wrap: break-word;
}

/* Mobile styling for cards */
  .card-container{
    align-items: center;
  }

  .column{
    margin:0px;
    padding: 0px;
    height: 100%;
  }

  .card-container {
    flex-direction:column;
    padding: 0px;
    margin-top:60px;
  }

  .card-item {
    margin: 15px 0px;
  }
/* Styling for footer */

}
  .attribution {
    margin: 20px 0px 10px 0px;
  }
}
